body{
    margin: 20px;
    background:rgb(63, 63, 63);
}
.container{
    max-width:760px;
    margin: auto;
    border: 3px solid white;
    background: white;

}
img{
    width:100%;
}
.imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.fade-In
{
    animation: fadeIn 0.6s ease in forwards;
}
@keyframes fade-In{
    from
    {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}